#speed{
	font-size: 30px;
	flex-grow: 1;	/*幅いっぱい*/
}
#speed-wrap{
	display: flex;
	width: 90%;
	margin: 5px auto;
	justify-content: space-between;
}

.warning{
	text-decoration: underline;
	color: #f48a8a;
}